<div class="page-width" id="about-us-page">
  <div class="section-header text-center">
    <h1><span>about</span> Maztermind</h1>
  </div>

  <div class="about-us__wrapper">
    <!-- <div class="about-us__intro">
      Maztermind bao gồm những nghệ nhân thủ công và nhà thiết kế lành nghề, mong muốn tạo ra trải nghiệm <br />
      khác biệt dựa trên những giá trị nguyên bản của những trò chơi board game truyền thống.
    </div> -->
    <div class="about-us__big-image">
      <img src="{{ 'Banner_1_new.png' || file_img_url: '1200x' }}" />
    </div>
    <div class="about-us__content-wrapper">
      <div class="about-us__content">
        <div class="about-us__content-image">
          <img src="{{ 'z2504571395901_94cde7941c761766b4cc720864df209c.jpg' | file_img_url: '600x' }}" alt="">
        </div>
        <div class="about-us__content-text">
          Remember the last time you sit down and just simply enjoy the game with people you love? Trust us, we know how good it would feel. That’s why we refuse to let those engaging moments be taken away. In the sense of connection, we put our heart and soul into designing meaningful aesthetics and accentuating the human experience through board games. 
        </div>
      </div>
      <div class="about-us__content">
        <div class="about-us__content-image">
          <img src="{{ 'IMG2.png' | file_img_url: '600x' }}" alt="">
        </div>
        <div class="about-us__content-text">
          As we begin our journey, our inspiration isn’t looking ahead to the future but to the past. We find the spark in Vietnamese traditional craft villages’ work in which their manual technique was passed down through generations. From turning raw materials into high-quality pieces, our magic combines classic values and contemporary design that commits to delivering the finest craft products. 
        </div>
      </div>
      <div class="about-us__content">
        <div class="about-us__content-image">
          <img src="{{ 'IMG3.png' | file_img_url: '600x' }}" alt="">
        </div>
        <div class="about-us__content-text">
          To us, board games are not simply for entertainment. They enhance lifestyle, spread joy, and bring people closer. Maztermind hopes to inspire you to collect memories that last longer, feel deeper, and touch further. So that, regardless of who you are, we could get to know each other through a game of art. 
        </div>
      </div>
    </div>
    <div class="about-us__seperator"></div>
    <!-- <div class="about-us__body">
      Trải qua năm ngàn năm lịch sử, board games chưa bao giờ mất đi tầm quan trọng của mình trong đời sống tình cảm và
      tinh thần con người. Mong muốn tạo ra trải nghiệm khác biệt dựa trên giá trị nguyên bản của board games truyền
      thống, Maztermind với sự góp sức của bộ óc người thiết kế và bàn tay người nghệ nhân luôn cố gắng truyền tải ngôn
      ngữ thẩm mỹ mới mẻ lên những vật liệu đậm chất thủ công. Với chúng tôi, boardgames không đơn thuần là một trò chơi
      mà còn là vật dụng trang trí tân thời cho không gian sống, là món quà đại diện cho sự giao thoa của những dòng
      chảy văn hóa, là giao điểm giữa các thế hệ, nơi nối kết tình thân và bắt đầu cho những mối thâm tình. Maztermind
      mong muốn truyền cảm hứng cho mọi người – không phân biệt tuổi tác, vùng miền, địa vị – ngồi lại cùng nhau để tận
      hưởng một ván cờ và lan tỏa nhiều câu chuyện mới.
    </div>
    <div class="about-us__seperator"></div> -->
    <div class="about-us__section">
      <!-- <h4 class="about-us__section-title">Hơn cả board game</h4> -->
      <div class="about-us__section-subtitle">
        In the sense of connection, we put our heart and soul into designing meaningful aesthetics and accentuating the human experience through board games.
      </div>
      <div class="about-us__section-columns">
        <div class="about-us__section-column">
          <img src="{{ 'IMG4.png' | file_img_url: '600x' }}" alt="">
          <div class="about-us__section-column-text">
            Craftsmanship
          </div>
        </div>
        <div class="about-us__section-column">
          <img src="{{ 'IMG5.png' | file_img_url: '600x' }}" alt="">
          <div class="about-us__section-column-text">
            CONNECTIVITY
          </div>
        </div>
        <div class="about-us__section-column">
          <img src="{{ 'IMG6.png' | file_img_url: '600x' }}" alt="">
          <div class="about-us__section-column-text">
            Aesthetic
          </div>
        </div>
      </div>
    </div>
    <div class="about-us__connect">
      We hope you enjoy this game of art as much as we did creating it. If there is anything we can do for you, please reach out to us via email at info@maztermind.vn or connect with us on social media.
      <div class="about-us__connect-account">#maztermind #playinstyle</div>
    </div>
    <div class="about-us__social-media">
      <ul>
        <li>
          <a target="_blank" href="https://www.facebook.com/Maztermind-112243866985479/">{%- include 'icon-facebook'
            -%}</a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/maztermindvn/">{%- include 'icon-instagram' -%}</a>
        </li>
        <li>
          <a target="_blank" href="https://www.youtube.com/channel/UCT3zmm4B99XGw_fbs9H30YA">{%- include 'icon-youtube'
            -%}</a>
        </li>
        <li>
          <a target="_blank" href="https://www.pinterest.com/maztermindglobal/">{%- include 'icon-pinterest' -%}</a>
        </li>
      </ul>
    </div>
  </div>
</div>